In [52]:
import pandas as pd
import toolz as fp

In [2]:
labels_df = pd.read_pickle("labels_df.pkl")
lists_df = pd.read_pickle("lists_df.pkl")
actions_df = pd.read_pickle("actions_df.pkl")
cards_df = pd.read_pickle("cards_df.pkl")

In [3]:
labels_df.head()

                         id           name   color
0  5c773e16c7522c4e23a71268          Movie   green
1  5c773e16c7522c4e23a71264      TV Series  yellow
2  5c773e16c7522c4e23a71267  Anime/Cartoon  orange
3  5c773e16c7522c4e23a71266    Documentary    blue
4  5c773e16c7522c4e23a71265           Book     sky

In [4]:
lists_df.head()

                         id         name     pos
0  5c773e16c7522c4e23a71252      BACKLOG   65535
1  5c773e16c7522c4e23a71253        TO DO  131071
2  5c773e16c7522c4e23a71254  IN PROGRESS  196607
3  5c773e16c7522c4e23a71255       REVIEW  229375
4  5c773e16c7522c4e23a71256         DONE  262143

In [92]:
@fp.curry
def rn(group, order): # row_number operation
    group = group.sort_values(by=[order])
    group["row_number"] = (
        group
        .reset_index(drop=True)
        .reset_index()
        .index
        + 1
    )
    return group


(
)

,,id,type,date,data_text,data_card_id,data_card_name,data_card_idShort,data_card_shortLink,data_board_id,data_board_name,...,data_old_desc,data_organization_id,data_organization_name,data_idMember,data_member_id,data_member_name,data_dateLastEdited,data_old_idLabels,data_card_idLabels,row_number
data_card_id,,,,,,,,,,,,,,,,,,,,,,
5c773e16c7522c4e23a71261,443,607ca9f8cbb2150f1946975f,updateCard,2021-04-18 21:51:52.661000+00:00,NaN,5c773e16c7522c4e23a71261,Mob Psycho,2.0,XxfbPCwo,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5c773e16c7522c4e23a71263,480,607ca9f37a42d91099704d60,updateCard,2021-04-18 21:51:47.497000+00:00,NaN,5c773e16c7522c4e23a71263,Adventure Time,1.0,BwuBl8AJ,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5c773e909470e91d55b97b5f,479,607ca9f339467c55c1d28a54,updateCard,2021-04-18 21:51:47.589000+00:00,NaN,5c773e909470e91d55b97b5f,Steven Universe,3.0,XlS0YvYB,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5c8ebffac286b5658d1148f9,982,5e80bed4d8d7f41130fc0062,commentCard,2020-03-29 15:29:24.310000+00:00,;--------;,5c8ebffac286b5658d1148f9,American Gods,4.0,dZ3KA7f7,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5c979c98c1bbe67925054764,444,607ca9f868a69e8216d6cd4f,updateCard,2021-04-18 21:51:52.447000+00:00,NaN,5c979c98c1bbe67925054764,Gotham,5.0,HE0kRvlo,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635ebd9261a80f0187a04280,17,635ebd9261a80f0187a04292,copyCard,2022-10-30 18:08:18.828000+00:00,NaN,635ebd9261a80f0187a04280,Minority Report,278.0,8Ye9hdBg,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
636f91635727cc0aa0e00f07,8,636f91635727cc0aa0e00f1b,copyCard,2022-11-12 12:28:19.688000+00:00,NaN,636f91635727cc0aa0e00f07,Hunger Games,279.0,lX5uublv,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6372d22b8c03640097b24e54,5,6372d22b8c03640097b24e68,copyCard,2022-11-14 23:41:31.109000+00:00,NaN,6372d22b8c03640097b24e54,Hunger Games: Catching Fire,280.0,ZSyj4RHB,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6372d236876a5a014e782c43,4,6372d236876a5a014e782c59,copyCard,2022-11-14 23:41:42.519000+00:00,NaN,6372d236876a5a014e782c43,Hunger Games: Mockingjay part 1,281.0,6ZfQpLFR,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6372d23a3e305b01b7e21f7d,3,6372d23a3e305b01b7e21f91,copyCard,2022-11-14 23:41:46.642000+00:00,NaN,6372d23a3e305b01b7e21f7d,Hunger Games: Mockingjay part 2,282.0,OmZfnQ6g,5c773e16c7522c4e23a71251,Audioliterovisual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [105]:
# get the first action of a card
card_by_temporal_creation = (
    actions_df.assign(date=lambda df: pd.to_datetime(df.date))
    .groupby("data_card_id")
    .apply(rn(order="date"))
    .loc[lambda df: df.row_number == 1][
        ["type", "date", "data_card_id", "data_card_name"]
    ]
    .assign(date=lambda df: pd.to_datetime(df.date))
    .rename(columns={"data_card_id": "id"})
)


# joins it with the card + labels information
card_with_label_info = (
    cards_df[["id", "desc", "name", "idLabels"]]
    .explode("idLabels")
    .merge(
        labels_df.rename(columns={"id": "idLabels", "name": "nameLabel"}),
        on="idLabels",
        how="left",
    )
)

# joins both so we have: date of action ("creation date"), card info as well as labels
final_card_creation_info_df = card_with_label_info.merge(
    card_by_temporal_creation, on="id", how="left"
).assign(creation_date=lambda df: df.date.dt.strftime("%Y-%m-%d"))
final_card_creation_info_df.head()

,id,desc,name,idLabels,nameLabel,color,type,date,data_card_name,creation_date
0,62cae10b6a1e3a35d3d75821,,Oldboy,5c773e16c7522c4e23a71268,Movie,green,copyCard,2022-07-10 14:24:11.751000+00:00,Oldboy,2022-07-10
1,630f875414406f0092df2945,,This is the end,5c773e16c7522c4e23a71268,Movie,green,updateCard,2022-08-31 16:07:48.709000+00:00,This is the end,2022-08-31
2,5f3042888f97376f39a6429b,https://junji-ito-index.tumblr.com/the-index,Uzumaki - Vol 3,5c773e16c7522c4e23a71265,Book,sky,copyCommentCard,2020-08-02 20:38:02.783000+00:00,Uzumaki - Vol 3,2020-08-02
3,5f3042888f97376f39a6429b,https://junji-ito-index.tumblr.com/the-index,Uzumaki - Vol 3,5c773e16c7522c4e23a71267,Anime/Cartoon,orange,copyCommentCard,2020-08-02 20:38:02.783000+00:00,Uzumaki - Vol 3,2020-08-02
4,633d65bf247f41006f5cc980,,Hamilton,5c773e16c7522c4e23a71268,Movie,green,copyCard,2022-10-05 11:08:47.899000+00:00,Hamilton,2022-10-05

corner case: For some reason these cards here don't have any related actions to it ???

In [89]:
# ggggg.to_csv("weird_card_with_no_related_action.csv")
pd.read_csv("weird_card_with_no_related_action.csv")

,Unnamed: 0,id,desc,name,idLabels,nameLabel,color,yy
0,0,5dc7765564fb7a67b6b4ebce,NaN,Shadow of Mordor,5c773e16c7522c4e23a71269,Game,purple,NaN
1,1,5ded0f42131b2349f17f7edf,NaN,Ovos verdes e presunto,5c773e16c7522c4e23a71267,Anime/Cartoon,orange,NaN
2,2,5e0b7cebbb3635630f8a2877,NaN,Bacurau,5c773e16c7522c4e23a71268,Movie,green,NaN
3,3,5d1bed4fd6a44c534b3fd566,NaN,Atlanta,5c773e16c7522c4e23a71264,TV Series,yellow,NaN
4,4,5da10e3b982ccc3ee6a7e942,NaN,Alladin,5c773e16c7522c4e23a71268,Movie,green,NaN
5,5,5d757c1e65e9395fedc6c542,NaN,Titans,5c773e16c7522c4e23a71264,TV Series,yellow,NaN
6,6,5d3e142e4978703369fa8759,NaN,Yakusoku no neverland,5c773e16c7522c4e23a71267,Anime/Cartoon,orange,NaN
7,7,5d30baeeaf34700bead9c1e4,NaN,Coherence,5c773e16c7522c4e23a71268,Movie,green,NaN

## Queries

In [111]:
query = """
    creation_date >= '2022-01-01'
"""
(
    final_card_creation_info_df
    .assign(year=lambda df: df.date.dt.year)
    .groupby("year")
    .value_
)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer